:root{
    --my-color-primary: #2c3e50 ;
    --my-color-secondary: #1abc9c ;
    --my-color-footer:#3a546d ;
}

.my-bg-primary{
    background-color: var(--my-color-primary);
}

.my-bg-secondary{
    background-color: var(--my-color-secondary);
}

.my-bg-footer{
    background-color: var(--my-color-footer);
}

.my-text-primary{
    color: var(--my-color-primary);
}

.my-text-secondary{
    color: var(--my-color-secondary);
}

img{
    width: 100%;
}

.hamburger-menu a:hover{
    text-decoration: underline!important;
}

#hero .container{
    padding-top: 100px;
}

.avatar-container{
    max-width: 260px;
}

.line{
    height: 3px;
}

.fa-star{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.border-bot{
    border-bottom: 1px solid lightgray!important;
}

.primary-hov:hover{
    background-color: #0f6f5c;
    transition: all 0.3s;
}

.hover-underline:hover{
    text-decoration: underline;
} 

footer .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 35px;
    height: 35px;
}

footer .icons:hover{
    background-color: var(--my-color-primary);
    transition: all 0.2s;
}

#portfolio .row > div > div:hover::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1abc9c8d;
    cursor: pointer;
    display: flex;
    content: "+";
    font-weight: bold;
    color: white;
    font-size: 5em;
    justify-content: center;
    align-items: center;
    border-radius: var(--bs-border-radius-lg)!important;
}

@media screen and (max-width: 768px){
    .hamburger-menu:hover ul{
        display: block!important;
        position: absolute;
        top: 65%;
        right: 0;
        width: 30%;
        text-align: end;
    }

    footer h3{
        font-size: 1.25rem!important;
    }
}
